<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
{% if page.images %}
<script src="{{ site.baseurl }}/assets/js/vendor/jquery.slides.min.js"></script>
<script>
	//Create the slideshow
	$("#slides").slidesjs({
		width: 1200,
		height: 400,
		effect: {
			fade: {
				speed: 300, // [number] Speed in milliseconds of the fade animation.
				crossfade: true // [boolean] Cross-fade the transition.
			}
		},
		navigation: {
			effect: "fade",
			active: false,
		},
		pagination: {
			active: false,
		}
	});
</script>
{% endif %}
<script src="{{ site.baseurl }}/assets/js/scripts.min.js"></script>

{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
	var _gaq = _gaq || [];
	var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
	_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
	_gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
{% endif %}
{% if page.comments %}
	{% include _disqus_comments.html %}
{% endif %}