---
layout: default
---
<article class="post">
  <div class="headline-wrap">
    {% if page.link %}
      <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
    {% else %}
      <h1><a href="{{ site.baseurl }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
    {% endif %}
  </div><!--/ .headline-wrap -->
  <div class="article-wrap">
    {{ content }}
  </div><!-- /.article-wrap -->
{% if site.owner.disqus-shortname and page.comments == true %}
  <section id="disqus_thread"></section><!-- /#disqus_thread -->
{% endif %}
</article>